html, body {
    position: relative;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: navy;
    z-index: -3;
}

h1 {
    margin: 0;
}

h2 {
    font-size: 15vh;
    margin: 0;
}

#root{
    z-index: -2;
}

#wrapper {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    z-index: -2;
}

#navigation {
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    justify-content: end;
    align-items: center;
    /* position: fixed; */
    width: 100vw;
    height: 12vh;
    z-index: 1;
}

#navigation a {
    margin-right: 15px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}

#navigation a:hover {
    color: rgb(175, 0, 150);
}

#footer {
    position: fixed;
    bottom: 15px;
    right: 30px;
}

#main, #about, #projects, #resume, #contact {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: calc(100vh - 12vh);
    padding: 15px;
    color: white;
}

#resume, #contact {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact_info {
    background-color: black;
    padding: 100px;
    border-radius: 15px;
}

#resume iframe {
    width: 80vw;
    height: 75vh;
}

#main {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}

#main h1 {
    font-size: 18vh;
}


#projects {
    display: grid;
    grid-template-areas: 'frame frame frame';
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    position: relative;
    overflow: hidden;
    /* height: 70vh; */
}

.projectDesc {
    opacity: 0%;
    transition: opacity 1s;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    height: 60vh;
}

.projectDesc a, #profile_wrapper a {
    color: white;
    text-decoration: none;
}

.projectDesc a:hover, #profile_wrapper a:hover {
    color: rgb(175, 0, 150);
}

.projectDesc p {
    visibility: hidden;
    height: 0%;
    margin: 80px;
}

.bgimage {
    height: auto;
    width: 100%;
    z-index: -1;
    position: relative;
}

.spiral {
    margin: -1vw;
    position: fixed;
    width: 103vw;
    height: 40vh;
    z-index: -1;
    top: 50%;
}

#footer img {
    width: 5vw;
    height: 5vw;
    margin-left: 15px;
}

#about {
    display: flex;
}

#about_content {
    width: 80%;
    font-size: large;
    padding: 20px;
}

#profile_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile_image {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}